locals {
  civms = {
    # "testvm" = {
    #   cores                   = 1
    #   memory                  = 1024
    #   rootfs_size             = "8G"
    #   template                = "ci-ubuntu-template"
    #   network_ip              = "192.168.1.15"
    #   tags                    = ["ubuntu", "portainer_server"]
    #   create_local_dns_record = true
    #   qemu_os                 = "l26" # <l24 | l26 | other | solaris | w2k | w2k3 | w2k8 | win10 | win11 | win7 | win8 | wvista | wxp> or None
    # },
    # "maas" = {
    #   cores                   = 2
    #   memory                  = 4096
    #   rootfs_size             = "16G"
    #   template                = "ci-ubuntu-template"
    #   network_ip              = "192.168.1.17"
    #   ansible_dir             = "/root/ansible/homelab/"
    #   tags                    = ["ubuntu","maas_postgres", "maas_region_controller", "maas_rack_controller"]
    #   create_local_dns_record = false
    #   qemu_os                 = "l26"
    #   ansible_playbooks       = ["/root/ansible/homelab/site.yml", "/root/ansible/maas-ansible-playbook/maas.yml"]
    # }
  }

  default_vm_cores               = 2
  default_vm_memory              = 2048
  default_vm_network_mac_prefix  = "B6:24:74:03:FF:"
  default_vm_rootfs_storage      = "data"
  default_vm_rootfs_size         = "32G"
  default_vm_network_model       = "virtio"
  default_vm_network_bridge_type = "vmbr0"
  default_vm_tags                = []
  default_vm_private_key_file    = "/root/.ssh/id_rsa"
  default_vm_ci_user             = "root"
}
