locals {
  cts = {
    "hq" = {
      target_node             = "lovejoy"
      cores                   = 2
      memory                  = 4096
      rootfs_size             = "20G"
      template                = "data-nfs:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
      network_ip              = "192.168.1.9"
      tags                    = ["ubuntu", "utils_server"]
      create_local_dns_record = false
      ansible_playbooks       = []
    },
    # "proxy" = {
    #   cores                   = 1
    #   memory                  = 2048
    #   rootfs_size             = "20G"
    #   template                = "data-nfs:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
    #   network_ip              = "192.168.1.8"
    #   tags                    = ["ubuntu", "proxy"]
    #   create_local_dns_record = false
    # }
  }


  default_ct_cores               = 2
  default_ct_memory              = 2048
  default_ct_network_name        = "eth0"
  default_ct_network_bridge_type = "vmbr0"
  default_ct_network_mac_prefix  = "B6:24:74:03:CC:"
  default_ct_rootfs_storage      = "data"
  default_ct_rootfs_size         = "8G"
  default_ct_tags                = []
}
